.project {
    display: flex;
    flex-direction: column;
    padding: 8rem 11rem;

     @media (max-width: 480px) {
      padding: 1rem;
      }
  
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5rem;

      @media (max-width: 480px) {
        margin-bottom: 2rem;
        flex-direction: column-reverse;
        align-items: flex-start;
        }
  
      h1 {
        font-size: 5.2rem;
        font-weight: var(--font-weight-semibold);
        color: var(--color-black-txt);

        @media (max-width: 1024px) {
          font-size: 3.4rem;
        }

        @media (max-width: 480px) {
          font-size: 2.2rem;
          }
    
      }
  
      .header__nav {
        display: flex;
        width: 44rem;
        justify-content: space-between;
        // margin-right: -5rem;

        @media (max-width: 1024px) {
            gap: 3rem;
            width: 30rem;
          }

          @media (max-width: 480px) {
            gap:2rem;
            margin-bottom: 2rem;
            width: 100%;
            }
  
        button {
          background: none;
          border: none;
          cursor: pointer;

          svg {
            width: 4.8rem;
          }
  
          svg .icon__rect {
            fill: var(--color-grey-dark-txt);
          
          }

          svg .icon__rect, svg .icon__arrow {
            fill: var(--color-blue_dark_accent);
          }
        
          &:hover svg .icon__rect {
            fill: var(--color-blue_accent);
          }

        }
      }
    }
  
    &__wrapper {
      display: grid;
      grid-template-columns: 2fr 1fr;
      
      gap: 3rem; 
      align-items: start;
      height: 100%;
  
      @media (max-width: 1024px) {
        grid-template-columns: 1fr;
      }
    }
  
    &__slider {
      display: flex;
      justify-content: center;
      align-items: center;
  
      img {
        max-width: 100%;
        height: auto;
      }
    }
  
    &__description {
      display: flex;
      flex-direction: column;
      width: 44rem;
      height: 95%;
      padding: 25px 30px;
      background-color: #fefefe;
      border-radius: 15px;
      border: 2px solid #eee;
      font-size: 1.6rem;
      line-height: 2.8rem;
      color: var(--color-grey-dark-txt);

      @media (max-width: 1024px) {
        width: 100%;
      }

      @media (max-width: 480px) {
        font-size: 1.6rem;
        background-color: #fff;
        border-radius: none;
        border:none;
        padding: 3rem 2rem;
        }
  
      h3 {
        font-size: 1.6rem;
        font-weight: var(--font-weight-semibold);
        color: var(--color-black-txt);
        margin-bottom: 1rem;
      }
  
      ul {
        list-style: none;
        padding: 0;
        margin: 0 0 15px;
        li {
          margin-bottom: 0.5rem;
          a {
            font-size: 1.6rem;
            text-decoration: underline;
            color: var(--color-blue_dark_accent);
            font-weight: var(--font-weight-semibold);
            
          }
        }
      }

      .project__technologies {
        margin-top: 2rem;

        @media (max-width: 480px) {
          font-size:1.2rem ;
            }
      }
  
      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
  
        li {
          display: inline-block;
          font-size: 1.6rem;
          color: var(--color-grey-dark-txt);
          padding: 2px 7px;
          background-color: #fff;
          border-radius: 3px;
          border: 2px solid var(--color-grey-stroke);
          margin: 3px 2px 2px;
          font-weight: var(--font-weight-regular);

          @media (max-width: 480px) {
            font-size:1.6rem;
              }

        }
      }
    }
  }

  .item__world {
    display: flex;
    align-items: center;
  }