.titleBlock {
    margin: 5rem 8rem;
}

.titleBlock h2 {
    position: relative;
    display: inline-block;
    font-size: 3.2rem;
    font-weight: var(--font-weight-semibold);
    color:  var(--color-Black-txt);
    z-index: 1;
    padding-bottom: 7px;
}

.titleBlock h2::after {
    display: block;
    position: absolute;
    content: '';
    width: 35px;
    background-color:  var(--color-accent-700);
    height: 2px;
    bottom: 0;
}

.titleBlock h2::before {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    background-color: #E2E2E2;
    height: 2px;
    bottom: 0;
}
