.titleBlock {
    margin: 5rem 8rem;

    @media (max-width: 1600px) {
      margin: 4rem 5rem;
    } 

    @media (max-width: 768px) {
        margin: 5rem 5rem;
      }

    @media (max-width: 480px) {
        margin: 8rem 2rem 3rem;
      }
}

.titleBlock.subTitle {
    margin-left: 15rem;

    @media (max-width: 1600px) {
      margin-left: 7rem;
    }

    @media (max-width: 768px) {
        margin-left: 5rem;
      }
   
    @media (max-width: 480px) {
        margin-left: 2rem;
      }
}

.titleBlock h2 {
    position: relative;
    display: inline-block;
    font-size: 3.2rem;
    font-weight: var(--font-weight-semibold);
    color: var(--color-black-txt);
    z-index: 1;
    padding-bottom: .7rem;

    @media (max-width: 480px) {
        font-size: 2.6rem;
      }
}

.titleBlock h2::after {
    display: block;
    position: absolute;
    content: '';
    width: 3.5rem;
    background-color:  var(--color-blue_dark_accent);
    height: 0.2rem;
    bottom: 0;
}

.titleBlock h2::before {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    background-color: #E2E2E2;
    height: 0.2rem;
    bottom: 0;
}


