.portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    // margin-bottom: 12rem;
    margin: 0 11rem 12rem;
    justify-content: center;

    @media (max-width: 460px) {
        margin: 0 2rem;
      }
}