html {
    box-sizing: border-box;
    font-size: 62.5%;
   
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
    
      font-size: calc(100vw / 1920 * 10);
    
      @media (max-width: 1600px) {
        font-size: calc(100vw / 1600 * 10);
      }

    
      @media (max-width: 1024px) {
        font-size: calc(100vw / 1024 * 10);
      }

      @media (max-width: 767px) {
        font-size: calc(100vw / 767 * 10);
      }

      // @media (max-width: 575px) {
      //   font-size: calc(100vw / 575 * 10);
      // }
    
      @media (max-width: 480px) {
        font-size: calc(100vw / 480 * 10);
      }
    
      @media (max-width: 360px) {
        font-size: calc(100vw / 360 * 10);
      } 
   
  }
   
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
   
  input,
  button,
  select,
  textarea,
  optgroup,
  option {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    color: inherit;
  }
   
  a:visited {
    color: inherit;
  }
   
  body {
    margin: 0;
    padding: 0;
   
    font-family: var(--font-family-primary), sans-serif;
    line-height: var(--line-height-m);
    color: var(--color-grey-dark-txt);
    font-weight: var(--font-weight-regular);
    font-size: 1.6rem;
    background-color: var(--color-white);
  }

  h1, h2, h3,h4, h5, h6 {
    margin: 0;
    padding: 0;
  }