:root {
    --color-blue_accent:#85ADAF;
    --color-blue_dark_accent: #387178;
    --color-blue-light: #F3F7F7;

    --color-black-txt:#2A292D;

    --color-grey-dark-txt: #61616A;
    --color-grey-txt: #818188;

    --color-white: #fff; 
    --color-grey-stroke: #E2E2E2;
    
  }