:root {
    --color-blue_accent:#85ADAF;
    --color-blue_dark_accent: #387178;

    --color-black-txt:#2A292D;

    --color-grey-dark-txt: #61616A;
    --color-grey-txt: #818188;

    --color-white: #fff; 
    --color-grey-stroke: #E2E2E2;

    --color-accent-500: #629A9D;
    --color-accent-700: #387178;  
   
   
    

    --color-light-100: #fff; //background
    --color-light-300: #fdfdfd; //section
    
   
  
    --color-grey-txt: #818188;
    --color-grey-dark-txt: #61616A;
    --color-Black-txt:#2A292D;
    --color-dark-500: #666666; 
    --color-dark-700: #333333;
    --color-dark-900: #2A292D;
  }