:root {
    // accent
    --color-accent-500: #629A9D;
    --color-accent-700: #387178;  /* Основной цвет */
   
   
    
    // light (фон, границ или текста)
    --color-light-100: #fff; //background
    --color-light-300: #fdfdfd; //section
    
   
    // dark
    --color-dark-500: #666666; // base color
    --color-dark-700: #333333;
    --color-dark-900: #2A292D;
  }