.skillWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    // margin-bottom: 12rem;
    margin: 0 11rem 12rem;

    @media (max-width: 768px) {
      margin: 0 1rem 6rem;
    }
}

.skill {
    text-align: center;

    // Element skill__block
    &__block {
      width: 20.5rem;
      height: 20.5rem;
      background-color: #F3F7F7;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius:1rem ;

      @media (max-width: 768px) {
        width: 14.5rem;
      height: 14.5rem;
      }

      &:hover{
        background-color: var(--color-blue_dark_accent);
      }
    }
    // Element skill__icon
    &__icon {
      font-size: 10rem;

      @media (max-width: 768px) {
        font-size: 7rem;
      }
    }
  }

  
 

  