.skillWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 0 11rem 12rem;

    @media (max-width: 767px) {
      margin: 0 1rem 6rem;
    }

    @media (max-width: 480px) {
      gap: 1rem;
      margin: 0 2rem 5rem;
    }
}

.skill {
    text-align: center;

    &__block {
      width: 20.5rem;
      height: 20.5rem;
      background-color: #F3F7F7;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius:1rem ;

      @media (max-width: 767px) {
        width: 14.5rem;
      height: 14.5rem;
      }

      @media (max-width: 480px) {
        width: 14rem; //21
        height: 14rem;
      }

      @media (max-width: 360px) {
        width: 15.5rem;
        height: 15.5rem;
      }

      &:hover{
        background-color: var(--color-blue_dark_accent);
      }
    }

    &__icon {
      font-size: 10rem;

      @media (max-width: 767px) {
        font-size: 7rem;
      }
    }
  }

  
 

  