.resumeBlock {
    display: flex;
    margin-left: 11rem;
}

.resumeBlock__column {
    flex: 0 0 50%;
    max-width: 50%
}

.resumeBlock__item {
    // height: 16rem;
    position: relative;
    padding: 25px 0px 10px 40px;
    margin-bottom: 20px;
    border-bottom:1px solid #f5f6f9;
}

.resumeBlock__item::before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    background-color: #f5f6f9;
    width: 2px;
    left: 15px;
    bottom: 5px;
}

.resumeBlock__column h3 {
   display: inline-block;
    position: relative;
    font-size: 3rem;
    font-weight: var(--font-weight-semibold);
    color: var(--color-dark-900);
    z-index: 1;
    padding-bottom: 7px;
    margin-bottom: 4rem;
}


.resumeBlock__column h3::before {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    background-color: #E2E2E2;
    height: 2px;
    bottom: 0;
    z-index: -1;
}
    

