.main__about {
 max-width: 129rem;
 max-height: 51rem;
 margin:0 auto;
 display: flex;
 justify-content: center;
 gap: 4.5rem;
 margin-bottom: 12rem;
 margin-top: 5rem;
}

.about__photo {
    width: 40rem;
    height: 40rem;
    border: 14px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    background-color:var(--color-accent-500);
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.about__description {
    max-width:50rem ;
}

.about__description h4 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    color: #AAA;
    font-weight: 300;
}

.about__description h1 {
    font-size: 4.8rem;
    line-height: 5.6rem;
    margin-top: 0;
    margin-bottom: 2rem;
    color: #333;
}

.about__description p {
    font-size: var( --font-size-l);
    color: #666;
    margin: 0 0 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.75em;
}
