.main__about {
 min-height: 44rem;
 display: flex;
 justify-content: center;
 gap: 4.5rem;
 margin: 5rem 0 12rem;
}

.about__photo {
    width: 44rem;
    height: 44rem;
    border: 1.4rem solid #fff;
    border-radius: 50%;
    overflow: hidden;
    background-color:var(--color-blue_dark_accent);
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.about__description {
    max-width:58.6rem;
    padding-top: 7.2rem;
}

.about__description h4 {
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
    color: var(--color-grey-txt);
    font-weight: var(--font-weight-regular);
}

.about__description h1 {
    font-size: 5.2rem;
    line-height: 5.6rem;
    font-weight: var(--font-weight-semibold);
    margin-bottom: 2.6rem;
    color: var(--color-black-txt);
}

.about__description p {
    font-size: 1.6rem;
    color: var(--color-grey-dark-txt);
    margin-bottom: 3.4rem; 
    font-weight: 400;
    font-style: normal;
    line-height: 1.75em;
}
