.certificatesWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    margin: 0 11rem 12rem;  

    @media (max-width: 480px) {
        margin: 0;
        gap: 1rem;
       }
}

.certificate__block {
    width: 100%;
    min-width: 44rem;
    height: 12rem;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    cursor: pointer;
    display: flex;

    @media (max-width: 480px) {
        min-width: 32rem;
       }

}

.certificate__block:hover {
    transform: translateY(-10px); 
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2); 
    border-color: var(--color-blue_dark_accent);

    .certificate__arrow svg path{
        fill: var(--color-blue_dark_accent); 
     }
 
    .certificate__icon {
        background-color: var(--color-blue_dark_accent);
        border-radius: 10px;  
     }
     
     .certificate__icon svg  {
        color: #FFF;
        font-size: 3rem;  
     }
}

.certificate__icon {
   width: 12rem;
   height: 12rem;
   background-color: var(--color-blue-light);
   display: flex;
   align-items: center;
   justify-content: center;

   @media (max-width: 480px) {
   display: none;
  }
}

.certificate__description {
    width: calc(100% - 12rem);
    display: flex;
    flex-direction: column;
    padding: 1.7rem 2rem 1.7rem 2.5rem;

    @media (max-width: 768px) {
        margin-top: 0;
        padding: 0.7rem 1rem;  
      }

      @media (max-width: 480px) {
        width: 100%;
        margin-top: 1.6rem;
       }
}

.certificate__description h4 {
    font-size: 1.6rem;
    font-weight: var(--font-weight-semibold);
    color: var(--color-black-txt);
}

.certificate__date {
    font-size: 1.4rem;
    color: var(--color-grey-dark-txt);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.6rem;

    @media (max-width: 1600px) {
        margin-top: 0;
        padding-bottom: 0.1rem;
      }
}

.certificate__school {
    font-size: 1.6rem;
    color: var(--color-grey-dark-txt);
}

.modal__img {
    @media (max-width: 768px) {
       width: 100%;
      }
}