.nav {
    font-size: 1.4rem;
  
    &__list {
      list-style: none;
      display: flex;
      justify-content: space-between;
      gap: 4.7rem;
    }
  
    &__link {
      color: var(--color-gray-txt);
      text-decoration: none;
      transition: color 0.2s;
      cursor: pointer;
  
      &:hover {
        color: #333;
      }
    }
  }


  .nav__item_active {
    color: var(--color-dark-900);
  }
